{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
  - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_badge: {String} The setting either show the blog badge or not.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
  {%- liquid
    assign ratio = 1
    if media_aspect_ratio != null
      assign ratio = media_aspect_ratio
    endif
  -%}
  <div class="article-card-wrapper card-wrapper underline-links-hover">
    {% comment %} <article aria-labelledby="Article-{{ article.id }}"> {% endcomment %}
    <div
      class="
        card article-card
        card--{{ settings.blog_card_style }}
        {% if media_height and media_height != 'adapt' %} article-card__image--{{ media_height }}{% endif %}
        {% if article.image and show_image %} card--media{% else %} card--text{% endif %}
        {% if settings.blog_card_style == 'card' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}
        {% if settings.blog_card_style == 'card' and media_height == nil and article.image == empty or show_image == false %} ratio{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner {% if settings.blog_card_style == 'standard' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}{% if article.image and show_image or settings.blog_card_style == 'standard' %} ratio{% endif %}"
        style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        {%- if show_image == true and article.image -%}
          <div class="article-card__image-wrapper card__media">
            <div
              class="article-card__image media media--hover-effect"
              {% if section.settings.media_height == 'adapt' %}
                style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="
                  {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w
                "
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
            </div>
          </div>
        {%- endif -%}
        <div class="card__content">
          <div class="card__information">
            <div class="article_tags">
              {% if article.metafields.custom.tempo_de_preparo != blank %}
                <div class="article_tag">
                  <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00003 14.5C3.14021 14.5 0 11.3598 0 7.49985C0 3.64012 3.14021 0.5 7.00003 0.5C10.8598 0.5 14.0001 3.64012 14.0001 7.49985C14.0001 11.3597 10.8598 14.5 7.00003 14.5ZM7.00003 1.4736C3.67703 1.4736 0.973595 4.17697 0.973595 7.49985C0.973595 10.8229 3.67703 13.5264 7.00003 13.5264C10.323 13.5264 13.0265 10.8229 13.0265 7.49985C13.0265 4.17697 10.323 1.4736 7.00003 1.4736Z" fill="#8C3628"/>
                    <path d="M9.34635 9.82891C9.26 9.82891 9.17259 9.80594 9.09346 9.75772L6.74663 8.32745C6.60163 8.23909 6.51318 8.08155 6.51318 7.91175V4.45579C6.51318 4.18696 6.73115 3.96899 6.99998 3.96899C7.26882 3.96899 7.48678 4.18696 7.48678 4.45579V7.63835L9.60012 8.92633C9.82971 9.06625 9.90239 9.36579 9.76247 9.59534C9.6708 9.74582 9.51052 9.82891 9.34635 9.82891Z" fill="#8C3628"/>
                  </svg>

                  <span>{{ article.metafields.custom.tempo_de_preparo }} min</span>
                </div>
              {% endif %}
              {% if article.metafields.custom.quantidade_de_porcoes != blank %}
                <div class="article_tag">
                  <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.03365 6.99154C8.92946 6.33822 9.51281 5.28089 9.51281 4.08974C9.51281 2.11036 7.90245 0.5 5.92307 0.5C3.94368 0.5 2.33332 2.11036 2.33332 4.08974C2.33332 5.28089 2.91665 6.33822 3.81248 6.99154C1.58561 7.84371 0 10.0028 0 12.5256C0 13.6143 0.885691 14.5 1.97436 14.5H9.87178C10.9604 14.5 11.8461 13.6143 11.8461 12.5256C11.8461 10.0028 10.2605 7.84371 8.03365 6.99154ZM3.41026 4.08974C3.41026 2.70418 4.5375 1.57693 5.92307 1.57693C7.30863 1.57693 8.43587 2.70418 8.43587 4.08974C8.43587 5.4753 7.30863 6.60258 5.92307 6.60258C4.5375 6.60258 3.41026 5.4753 3.41026 4.08974ZM9.87178 13.4231H1.97436C1.47952 13.4231 1.07693 13.0205 1.07693 12.5256C1.07693 9.85342 3.25087 7.67946 5.92309 7.67946C8.59532 7.67946 10.7693 9.85339 10.7693 12.5256C10.7692 13.0205 10.3666 13.4231 9.87178 13.4231Z" fill="#8C3628"/>
                  </svg>

                  <span>
                    {{- article.metafields.custom.quantidade_de_porcoes }}
                    {% if article.metafields.custom.quantidade_de_porcoes > 1 -%}
                      porções
                    {%- else -%}
                      porção
                    {%- endif %}
                  </span>
                </div>
              {% endif %}
            </div>
            <h4 class="card__heading">
              <a href="{{ article.url }}" class="full-unstyled-link">
                {{ article.title | truncate: 50 | escape }}
              </a>
            </h4>
            <div class="article-card__info caption-with-letter-spacing h5">
              {%- if show_date -%}
                <span class="circle-divider">{{ article.published_at | time_tag: format: 'date' }}</span>
              {%- endif -%}
              {%- if show_author -%}
                <span>{{ article.author }}</span>
              {%- endif -%}
            </div>
            {%- if show_excerpt -%}
              {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                <p class="article-card__excerpt">
                  {%- if article.excerpt.size > 0 -%}
                    {{ article.excerpt | strip_html | truncatewords: 30 }}
                  {%- else -%}
                    {{ article.content | strip_html | truncatewords: 30 }}
                  {%- endif -%}
                </p>
              {%- endif -%}
              <div class="article-card__footer">
                {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                  <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
          {%- if show_badge -%}
            <div class="card__badge {{ settings.badge_position }}">
              <span class="badge color-{{ settings.color_schemes | first }}">{{ 'blogs.article.blog' | t }}</span>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          {% if article.metafields.custom.tempo_de_preparo != blank
            or article.metafields.custom.quantidade_de_porcoes != blank
            or show_date
          %}
            <div class="article_tags">
              {% if article.metafields.custom.tempo_de_preparo != blank %}
                <div class="article_tag">
                  <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00003 14.5C3.14021 14.5 0 11.3598 0 7.49985C0 3.64012 3.14021 0.5 7.00003 0.5C10.8598 0.5 14.0001 3.64012 14.0001 7.49985C14.0001 11.3597 10.8598 14.5 7.00003 14.5ZM7.00003 1.4736C3.67703 1.4736 0.973595 4.17697 0.973595 7.49985C0.973595 10.8229 3.67703 13.5264 7.00003 13.5264C10.323 13.5264 13.0265 10.8229 13.0265 7.49985C13.0265 4.17697 10.323 1.4736 7.00003 1.4736Z" fill="#8C3628"/>
                    <path d="M9.34635 9.82891C9.26 9.82891 9.17259 9.80594 9.09346 9.75772L6.74663 8.32745C6.60163 8.23909 6.51318 8.08155 6.51318 7.91175V4.45579C6.51318 4.18696 6.73115 3.96899 6.99998 3.96899C7.26882 3.96899 7.48678 4.18696 7.48678 4.45579V7.63835L9.60012 8.92633C9.82971 9.06625 9.90239 9.36579 9.76247 9.59534C9.6708 9.74582 9.51052 9.82891 9.34635 9.82891Z" fill="#8C3628"/>
                  </svg>

                  <span>{{ article.metafields.custom.tempo_de_preparo }} min</span>
                </div>
              {% endif %}
              {% if article.metafields.custom.quantidade_de_porcoes != blank %}
                <div class="article_tag">
                  <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.03365 6.99154C8.92946 6.33822 9.51281 5.28089 9.51281 4.08974C9.51281 2.11036 7.90245 0.5 5.92307 0.5C3.94368 0.5 2.33332 2.11036 2.33332 4.08974C2.33332 5.28089 2.91665 6.33822 3.81248 6.99154C1.58561 7.84371 0 10.0028 0 12.5256C0 13.6143 0.885691 14.5 1.97436 14.5H9.87178C10.9604 14.5 11.8461 13.6143 11.8461 12.5256C11.8461 10.0028 10.2605 7.84371 8.03365 6.99154ZM3.41026 4.08974C3.41026 2.70418 4.5375 1.57693 5.92307 1.57693C7.30863 1.57693 8.43587 2.70418 8.43587 4.08974C8.43587 5.4753 7.30863 6.60258 5.92307 6.60258C4.5375 6.60258 3.41026 5.4753 3.41026 4.08974ZM9.87178 13.4231H1.97436C1.47952 13.4231 1.07693 13.0205 1.07693 12.5256C1.07693 9.85342 3.25087 7.67946 5.92309 7.67946C8.59532 7.67946 10.7693 9.85339 10.7693 12.5256C10.7692 13.0205 10.3666 13.4231 9.87178 13.4231Z" fill="#8C3628"/>
                  </svg>

                  <span>
                    {{- article.metafields.custom.quantidade_de_porcoes }}
                    {% if article.metafields.custom.quantidade_de_porcoes > 1 -%}
                      porções
                    {%- else -%}
                      porção
                    {%- endif %}
                  </span>
                </div>
              {% endif %}
              {% if show_date %}
                <div class="article_tag">
                  <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00003 14.5C3.14021 14.5 0 11.3598 0 7.49985C0 3.64012 3.14021 0.5 7.00003 0.5C10.8598 0.5 14.0001 3.64012 14.0001 7.49985C14.0001 11.3597 10.8598 14.5 7.00003 14.5ZM7.00003 1.4736C3.67703 1.4736 0.973595 4.17697 0.973595 7.49985C0.973595 10.8229 3.67703 13.5264 7.00003 13.5264C10.323 13.5264 13.0265 10.8229 13.0265 7.49985C13.0265 4.17697 10.323 1.4736 7.00003 1.4736Z" fill="#8C3628"/>
                    <path d="M9.34635 9.82891C9.26 9.82891 9.17259 9.80594 9.09346 9.75772L6.74663 8.32745C6.60163 8.23909 6.51318 8.08155 6.51318 7.91175V4.45579C6.51318 4.18696 6.73115 3.96899 6.99998 3.96899C7.26882 3.96899 7.48678 4.18696 7.48678 4.45579V7.63835L9.60012 8.92633C9.82971 9.06625 9.90239 9.36579 9.76247 9.59534C9.6708 9.74582 9.51052 9.82891 9.34635 9.82891Z" fill="#8C3628"/>
                  </svg>

                  <span>{{ article.published_at | time_tag: format: 'date' }}</span>
                </div>
              {% endif %}
            </div>
          {% endif %}
          <h4 class="card__heading">
            <a href="{{ article.url }}" class="full-unstyled-link">
              {{ article.title | truncate: 50 | escape }}
            </a>
          </h4>
          <div class="article-card__info caption-with-letter-spacing h5">
            {%- if show_author -%}
              <span>{{ article.author }}</span>
            {%- endif -%}
          </div>
          {%- if show_excerpt -%}
            {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
              <p class="article-card__excerpt">
                {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt | strip_html | truncatewords: 30 }}
                {%- else -%}
                  {{ article.content | strip_html | truncatewords: 30 }}
                {%- endif -%}
              </p>
            {%- endif -%}
            <div class="article-card__footer">
              {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
        <div class="article-link">{{ article_link }}</div>
        {%- if show_badge -%}
          <div class="card__badge {{ settings.badge_position }}">
            <span class="badge color-{{ settings.color_schemes | first }}">{{ 'blogs.article.blog' | t }}</span>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}
