{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- if block.settings.picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      class="{% if option_disabled %}disabled{% endif %}"
    >
    <label
      for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      class="product-input__label"
      style="{% if product.selected_variant.option2 == "1" and value == "Ambos" %}display: none;{% endif %}"
    >
      {% liquid
        assign variant_title = value
        if option.name == 'Unidades'
          if value == '1'
            assign variant_title = value | append: ' lata'
          else
            assign variant_title = value | append: ' latas'
          endif
        endif
      %}
      {{ variant_title -}}
      <div class="check-circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
          <path d="M16.5002 1.33325C13.5994 1.33325 10.7637 2.19344 8.35181 3.80503C5.93989 5.41663 4.06002 7.70725 2.94994 10.3872C1.83985 13.0672 1.5494 16.0162 2.11532 18.8612C2.68124 21.7063 4.0781 24.3197 6.12927 26.3708C8.18044 28.422 10.7938 29.8189 13.6388 30.3848C16.4839 30.9507 19.4329 30.6602 22.1129 29.5502C24.7928 28.4401 27.0835 26.5602 28.6951 24.1483C30.3067 21.7364 31.1668 18.9007 31.1668 15.9999C31.1679 14.0736 30.7892 12.1659 30.0525 10.386C29.3159 8.60607 28.2356 6.98881 26.8734 5.62668C25.5113 4.26454 23.894 3.18424 22.1141 2.44755C20.3342 1.71085 18.4265 1.3322 16.5002 1.33325ZM24.1268 12.7599L16.1268 21.0933C16.0018 21.2208 15.8524 21.322 15.6874 21.3907C15.5225 21.4594 15.3455 21.4943 15.1668 21.4933C14.8613 21.4959 14.5643 21.3922 14.3268 21.1999L8.9935 16.8666C8.8478 16.7597 8.72534 16.6244 8.63356 16.4688C8.54177 16.3131 8.48257 16.1405 8.45956 15.9612C8.43654 15.782 8.45019 15.6 8.49968 15.4262C8.54916 15.2525 8.63345 15.0906 8.74742 14.9504C8.86139 14.8102 9.00266 14.6946 9.16267 14.6107C9.32267 14.5267 9.49807 14.4762 9.6782 14.4621C9.85833 14.4481 10.0394 14.4707 10.2105 14.5288C10.3816 14.5869 10.5391 14.6791 10.6735 14.7999L15.0602 18.3599L22.2068 10.9066C22.4526 10.652 22.7894 10.5054 23.1433 10.4992C23.3185 10.4961 23.4925 10.5275 23.6556 10.5917C23.8186 10.6559 23.9674 10.7516 24.0935 10.8733C24.2196 10.9949 24.3204 11.1403 24.3903 11.301C24.4602 11.4616 24.4978 11.6345 24.5009 11.8097C24.504 11.9849 24.4726 12.159 24.4084 12.322C24.3442 12.485 24.2485 12.6339 24.1268 12.7599Z" fill="#ED6F4E"/>
        </svg>
      </div>
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label>
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
