<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer-wrapper {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 1.25 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .footer-block--text, .newsletter__form, .footer-block-newsletter {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .copyright-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .newsletter__email {
    background: transparent;
    border: 1px solid rgba(var(--color-foreground));
    color: rgba(var(--color-foreground));
    margin-top: 0 !important;
  }

  .newsletter__email::placeholder {
    color: rgba(var(--color-foreground), 0.75);
    font-size: 1.6rem;
  }

  .newsletter__submit {
    color: rgba(var(--color-foreground));
    margin-top: 0 !important;
  }

  .flex-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer .button {
    padding: 1.6rem 3.2rem;
  }

  .footer-block--text .button {
    margin-top: 0.8rem;
  }

  .footer p, .footer a {
    font-size: 1.6rem;
    line-height: 120%;
  }

  .footer a {
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer-block:empty {
    display: none;
  }

  .footer-block__heading {
    margin-bottom: 1.6rem;
    margin-top: 0;
  }

  .footer-block__details-content .list-menu__item--link,
  .copyright__content a {
    color: rgba(var(--color-foreground), 1);
  }

  .footer-block__details-content .list-menu__item--active {
    transition: text-decoration-thickness var(--duration-short) ease;
    color: rgb(var(--color-foreground));
  }

  .footer-block__brand-info {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding-bottom: 4rem;
  }

  .footer-block:only-child .footer-block__brand-info {
    text-align: center;
  }

  .footer-block:only-child > .footer-block__brand-info > .footer-block__image-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-block__brand-info > img {
    height: auto;
  }

  .copyright__content {
    font-weight: 800;
  }

  .newsletter__email {
    width: 100%;
  }

  .footer-block__heading > * {
    margin: 0;
  }

  .footer__copyright {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    padding-top: 1.6rem;
  }

  .footer__copyright.column {
    flex-direction: column;
  }

  .footer__copyright.reverse {
    flex-direction: row-reverse;
  }

  .footer__copyright.column.reverse {
    flex-direction: column-reverse;
  }

  .footer-block__details-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  @media screen and (max-width: 768px) {
    .footer .grid {
      display: block;
    }

    .footer-block.grid__item {
      padding: 2.4rem 0;
      border-bottom: var(--border);
      width: 100%;
      max-width: 100%;
    }

    .footer-block:not(.empty-block):last-child {
      border-bottom: none;
    }

    .footer-block.grid__item:first-child {
      margin-top: 0;
    }

    .footer-block__brand-info {
      padding-bottom: 2.4rem;
    }

    .list-menu__item--link {
      padding: 0.4rem 0;
    }

    .footer-block__brand-info .list-social {
      justify-content: center;
    }

    .footer__copyright {
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
    }

    .footer__copyright.reverse {
      flex-direction: column-reverse;
    }

    .brand_with_socials {
      flex-direction: column;
    }
  }

  @media screen and (min-width: 769px) {
    .footer__content-top .grid {
      row-gap: 6rem;
      margin-bottom: 0;
      justify-content: space-between;
    }

    .footer-block__details-content {
      margin-bottom: 0;
    }

    .footer-block__details-content > p,
    .footer-block__details-content > li {
      padding: 0;
    }

    .footer-block__details-content .list-menu__item--link:hover,
    .copyright__content a:hover {
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }

    .footer-block__details-content .list-menu__item--active:hover {
      text-decoration-thickness: 0.2rem;
    }
    .footer-wrapper {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .footer__blocks-wrapper {
      padding: 4rem 0;
    }

    .footer-block {
      display: block;
      margin-top: 0;
      padding-right: 3.2rem;
      width: var(--width) !important;
      max-width: 100% !important;
      border-right: var(--border);
    }

    .footer-block:not(.empty-block):last-child {
      padding-right: 0;
      border: none;
    }

    .brand_with_socials {
      justify-content: space-between;
    }
  }
{%- endstyle -%}

{% liquid
  assign border_opacity = section.settings.border_opacity | divided_by: 100.00
  assign border_color = section.settings.border_color | color_modify: 'alpha', border_opacity
  assign blocks_qtd = 0
  for block in section.blocks
    unless block.type == 'brand_information'
      assign blocks_qtd = blocks_qtd | plus: 1
    endunless
  endfor
%}

<div class="footer-wrapper">
  {% if section.settings.newsletter_enable %}
    {% render 'newsletter-by-turbo',
      heading: section.settings.newsletter_heading,
      subheading: section.settings.newsletter_subheading,
      placeholder: section.settings.newsletter_placeholder,
      button: section.settings.newsletter_button,
      color_scheme: section.settings.color_scheme_newsletter
    %}
  {% endif %}

  <footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
    <div class="footer__content-top page-width">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'brand_information' -%}
            <div
              class="footer-block__brand-info{% if block.settings.show_social %} brand_with_socials{% endif %}"
              style="border-bottom: {% if section.settings.horizontal_border %}1px solid {{ border_color }}{% endif %};"
            >
              {%- if settings.brand_image != blank -%}
                {%- assign brand_image_height = settings.brand_image_width
                  | divided_by: settings.brand_image.aspect_ratio
                -%}
                <div
                  class="footer-block__image-wrapper global-media-settings"
                  style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                >
                  {{
                    settings.brand_image
                    | image_url: width: 1100
                    | image_tag:
                      loading: 'lazy',
                      widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                      height: brand_image_height,
                      width: settings.brand_image_width
                  }}
                </div>
              {%- endif -%}
              {% if block.settings.show_social %}
                <div class="footer-block__social-media">
                  {% render 'social-icons', whatsapp: block.settings.whatsapp, email: block.settings.email %}
                </div>
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
      <div class="footer__blocks-wrapper grid grid--{{ blocks_qtd }}-col-desktop">
        {%- for block in section.blocks -%}
          <div
            class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %} {% if block.type == 'brand_information' %}empty-block{% endif %}"
            {{ block.shopify_attributes }}
            style="--width: calc({{ block.settings.width }}% - var(--grid-desktop-horizontal-spacing)*{{ blocks_qtd | minus: 1 }}/{{ blocks_qtd }}); {% if section.settings.vertical_border %}--border: 1px solid {{ border_color }}{% endif %};"
          >
            {%- if block.settings.heading != blank -%}
              <div class="footer-block__heading">{{- block.settings.heading -}}</div>
            {%- endif -%}

            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'text' -%}
                <div class="footer-block__details-content footer-block--text rte">
                  {{ block.settings.subtext }}
                  {% if block.settings.button_label != blank %}
                    <a href="{{ block.settings.button_link }}" class="button button--primary">
                      {{ block.settings.button_label }}
                    </a>
                  {% endif %}
                </div>
              {%- when 'link_list' -%}
                {%- if block.settings.menu != blank -%}
                  <ul class="footer-block__details-content list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a
                          href="{{ link.url }}"
                          class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                        >
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- when 'newsletter' -%}
                <div class="footer-block__details-content footer-block-newsletter">
                  {% form 'customer' %}
                    <div class="newsletter__form{% if block.settings.button_side %} flex-row{% endif %}">
                      <input
                        class="newsletter__email button button--primary"
                        type="email"
                        name="contact[email]"
                        placeholder="{{ block.settings.placeholder }}"
                        style="{% if block.settings.button_side %}margin-right: calc(0px - {{ settings.buttons_radius | times: 2 }}px);{% endif %}"
                      >
                      <input
                        class="newsletter__submit button button--primary"
                        type="submit"
                        value="{{ block.settings.button }}"
                      >
                    </div>
                    <span>{{ block.settings.subtitle }}</span>
                  {% endform %}
                </div>
              {%- when 'social-icons' -%}
                {%- render 'social-icons', whatsapp: block.settings.whatsapp, email: block.settings.email -%}
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="footer__content-bottom page-width">
      <div class="footer__copyright caption{% if section.settings.copyright_column %} column{% endif %}{% if section.settings.copyright_invert %} reverse{% endif %}">
        {% if section.settings.copyright_text != blank %}
          <div class="copyright-content">
            {{ section.settings.copyright_text }}
          </div>
        {% endif %}
        <div class="copyright-content">
          <p class="copyright__content">
            Acelerada pela
            <a href="https://turbopartners.com.br?utm_source=clients&utm_medium=organic&utm_campaign=footer&utm_content={{ shop.domain | remove: '.com.br' }}"
              >Turbo Partners</a
            >
          </p>
          <div
            class="elementor-element elementor-element-e3c51e3 elementor-widget__width-initial elementor-align-center elementor-widget elementor-widget-lottie"
            data-id="e3c51e3"
            data-element_type="widget"
            data-settings="{&quot;source_json&quot;:{&quot;url&quot;:&quot;https:\/\/ninasaude.com.br\/wp-content\/uploads\/2023\/01\/1173-shark-outline-edited-2.json&quot;,&quot;id&quot;:63583,&quot;alt&quot;:&quot;&quot;,&quot;source&quot;:&quot;library&quot;},&quot;loop&quot;:&quot;yes&quot;,&quot;source&quot;:&quot;media_file&quot;,&quot;caption_source&quot;:&quot;none&quot;,&quot;link_to&quot;:&quot;none&quot;,&quot;trigger&quot;:&quot;arriving_to_viewport&quot;,&quot;viewport&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:{&quot;start&quot;:0,&quot;end&quot;:100}},&quot;play_speed&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:1,&quot;sizes&quot;:[]},&quot;start_point&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:&quot;0&quot;,&quot;sizes&quot;:[]},&quot;end_point&quot;:{&quot;unit&quot;:&quot;%&quot;,&quot;size&quot;:&quot;100&quot;,&quot;sizes&quot;:[]},&quot;renderer&quot;:&quot;svg&quot;}"
            data-widget_type="lottie.default"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 500 500"
              width="50"
              height="50"
              preserveAspectRatio="xMidYMid meet"
              style="width: 100%; transform: translate3d(0px, 0px, 0px);"
            >
              <defs><clipPath id="__lottie_element_2"><rect width="500" height="500" x="0" y="0"></rect></clipPath><filter id="__lottie_element_16" filterUnits="objectBoundingBox" x="0%" y="0%" width="100%" height="100%"><feComponentTransfer in="SourceGraphic"><feFuncA type="table" tableValues="1.0 0.0"></feFuncA></feComponentTransfer></filter><mask id="__lottie_element_15" mask-type="alpha"><g filter="url(#__lottie_element_16)"><rect width="500" height="500" x="0" y="0" fill="currentColor" opacity="0"></rect><g transform="matrix(1,0,0,1,221.491455078125,281)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="currentColor" stroke-opacity="1" stroke-width="0" d=" M138.5,15 C138.5,15 140.5,50.5 104,50.5 C67.5,50.5 66.5,15.5 66.5,15.5 C66.5,15.5 66,51.5 33.5,51.5 C1,51.5 -5,22.5 -5,15 C-5,23 -11,51.5 -39.5,51.5 C-68,51.5 -77,26 -77,15 C-77.5,25 -85,51 -111,51 C-137,51 -148.5,32.5 -148.5,16 C-148.5,32.5 -167.5,51 -178,51 C-181.51699829101562,51 -198.9929962158203,59 -225.82899475097656,23.17799949645996 C-255.5500030517578,-16.496000289916992 -301,164.5 -301,164.5 C-301,164.5 -308.5,289 -308.5,289 C-308.5,289 456.5,279 456.5,279 C456.5,279 757.823974609375,51 181.5,51 C131.5,51 138.5,15 138.5,15z"></path><path fill="currentColor" fill-opacity="1" d=" M138.5,15 C138.5,15 140.5,50.5 104,50.5 C67.5,50.5 66.5,15.5 66.5,15.5 C66.5,15.5 66,51.5 33.5,51.5 C1,51.5 -5,22.5 -5,15 C-5,23 -11,51.5 -39.5,51.5 C-68,51.5 -77,26 -77,15 C-77.5,25 -85,51 -111,51 C-137,51 -148.5,32.5 -148.5,16 C-148.5,32.5 -167.5,51 -178,51 C-181.51699829101562,51 -198.9929962158203,59 -225.82899475097656,23.17799949645996 C-255.5500030517578,-16.496000289916992 -301,164.5 -301,164.5 C-301,164.5 -308.5,289 -308.5,289 C-308.5,289 456.5,279 456.5,279 C456.5,279 757.823974609375,51 181.5,51 C131.5,51 138.5,15 138.5,15z"></path></g></g></g></mask></defs><g clip-path="url(#__lottie_element_2)"><g mask="url(#__lottie_element_15)" style="display: block;"><g transform="matrix(1,0,0,1,248.0439453125,215.45614624023438)" opacity="1"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M-94.2030029296875,114.65899658203125 C-94.2030029296875,114.65899658203125 -94.16600036621094,81.16500091552734 -94.16600036621094,81.16500091552734 C-94.16600036621094,81.16500091552734 -101.84300231933594,-91.302001953125 -67.3290023803711,-80.69599914550781 C-1.4450000524520874,-60.45100021362305 79.84600067138672,11.406000137329102 94.89299774169922,77.23100280761719 C94.89299774169922,77.23100280761719 101.7969970703125,119.65899658203125 101.7969970703125,119.65899658203125"></path></g></g></g><g transform="matrix(1,0,0,1,-69.88955688476562,31)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,178.42300415039062,283.1499938964844)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.79199981689453,-17.895999908447266 C35.79199981689453,1.871000051498413 19.767000198364258,17.895999908447266 0,17.895999908447266 C-19.767000198364258,17.895999908447266 -35.79199981689453,1.871000051498413 -35.79199981689453,-17.895999908447266"></path></g><g opacity="1" transform="matrix(1,0,0,1,106.8270034790039,283.1579895019531)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.79199981689453,-17.895999908447266 C35.79199981689453,-16.78700065612793 35.742000579833984,-15.689000129699707 35.643001556396484,-14.604999542236328"></path></g><g opacity="1" transform="matrix(1,0,0,1,250.00599670410156,283.0669860839844)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.79199981689453,-17.895999908447266 C35.79199981689453,1.871000051498413 19.767000198364258,17.895999908447266 0,17.895999908447266 C-19.767000198364258,17.895999908447266 -35.79199981689453,1.871000051498413 -35.79199981689453,-17.895999908447266"></path></g><g opacity="1" transform="matrix(1,0,0,1,321.5899963378906,283.0669860839844)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.79199981689453,-17.895999908447266 C35.79199981689453,1.871000051498413 19.767000198364258,17.895999908447266 0,17.895999908447266 C-19.767000198364258,17.895999908447266 -35.79199981689453,1.871000051498413 -35.79199981689453,-17.895999908447266"></path></g><g opacity="1" transform="matrix(1,0,0,1,393.1730041503906,283.0669860839844)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.79199981689453,-17.895999908447266 C35.79199981689453,1.871000051498413 19.767000198364258,17.895999908447266 0,17.895999908447266 C-19.767000198364258,17.895999908447266 -35.79199981689453,1.871000051498413 -35.79199981689453,-17.895999908447266"></path></g><g opacity="1" transform="matrix(1,0,0,1,393.1730041503906,283.0669860839844)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.70800018310547,-17.79199981689453 C35.70800018310547,1.975000023841858 51.733001708984375,18 71.5,18 C90.15799713134766,18 105.48100280761719,3.7230000495910645 107.14299774169922,-14.50100040435791"></path></g></g><g transform="matrix(1,0,0,1,-42.364501953125,107.00001525878906)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,178.42300415039062,283.1499938964844)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.79199981689453,-17.895999908447266 C35.79199981689453,1.871000051498413 19.767000198364258,17.895999908447266 0,17.895999908447266 C-19.767000198364258,17.895999908447266 -35.79199981689453,1.871000051498413 -35.79199981689453,-17.895999908447266"></path></g><g opacity="1" transform="matrix(1,0,0,1,106.8270034790039,283.1579895019531)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.79199981689453,-17.895999908447266 C35.79199981689453,-1.7100000381469727 25.047000885009766,11.967000007629395 10.300999641418457,16.391000747680664"></path></g><g opacity="1" transform="matrix(1,0,0,1,250.00599670410156,283.0669860839844)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.79199981689453,-17.895999908447266 C35.79199981689453,1.871000051498413 19.767000198364258,17.895999908447266 0,17.895999908447266 C-19.767000198364258,17.895999908447266 -35.79199981689453,1.871000051498413 -35.79199981689453,-17.895999908447266"></path></g><g opacity="1" transform="matrix(1,0,0,1,321.5899963378906,283.0669860839844)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.79199981689453,-17.895999908447266 C35.79199981689453,1.871000051498413 19.767000198364258,17.895999908447266 0,17.895999908447266 C-19.767000198364258,17.895999908447266 -35.79199981689453,1.871000051498413 -35.79199981689453,-17.895999908447266"></path></g><g opacity="1" transform="matrix(1,0,0,1,393.1730041503906,283.0669860839844)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.79199981689453,-17.895999908447266 C35.79199981689453,1.871000051498413 19.767000198364258,17.895999908447266 0,17.895999908447266 C-19.767000198364258,17.895999908447266 -35.79199981689453,1.871000051498413 -35.79199981689453,-17.895999908447266"></path></g><g opacity="1" transform="matrix(1,0,0,1,393.1730041503906,283.0669860839844)"><path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="12.04" d=" M35.70800018310547,-17.79199981689453 C35.70800018310547,1.975000023841858 51.733001708984375,18 71.5,18 C75.08100128173828,18 78.53900146484375,17.474000930786133 81.8010025024414,16.4950008392334"></path></g></g><g class="com" style="display: none;"><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g><g><path></path></g></g></g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

{% schema %}
{
  "name": "Footer by Turbo",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "brand_information",
      "name": "Informações da marca",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        },
        {
          "type": "text",
          "id": "whatsapp",
          "label": "Link do whatsapp"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Link do email"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<h4>Quick links</h4>",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        },
        {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Largura do bloco",
          "default": 25
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<h4>Heading</h4>",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Texto do botão (opcional)"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link do botão (opcional)"
        },
        {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Largura do bloco",
          "default": 25
        }
      ]
    },
    {
      "type": "social-icons",
      "name": "Redes sociais",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Título"
        },
        {
          "type": "text",
          "id": "whatsapp",
          "label": "Link do whatsapp"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Link do email"
        },
        {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Largura do bloco",
          "default": 25
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Assinante de e-mail",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Título",
          "default": "<h4>Fique por dentro das novidades</h4>"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Texto dentro da caixa de e-mail",
          "default": "Insira seu e-mail"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Botão",
          "default": "Enviar"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Texto informativo após o botão"
        },
        {
          "type": "checkbox",
          "id": "button_side",
          "label": "Botão ao lado da caixa de e-mail",
          "default": false
        },
        {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Largura do bloco",
          "default": 25
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "Esquema de cores"
    },
    {
      "type": "richtext",
      "id": "copyright_text",
      "label": "Texto de copyright"
    },
    {
      "type": "checkbox",
      "id": "copyright_column",
      "label": "Textos de copyright alinhados em coluna",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "copyright_invert",
      "label": "Inverter ordem dos textos de copyright",
      "default": false
    },
    {
      "type": "header",
      "content": "ASSINANTE DE E-MAIL",
      "info": "Assinantes adicionados automaticamente à lista de clientes que aceitam marketing."
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "Exibir assinante de e-mail"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_newsletter",
      "default": "background-1",
      "label": "Esquema de cores da newsletter"
    },
    {
      "type": "richtext",
      "id": "newsletter_heading",
      "default": "<h2>Subscribe to our emails</h2>",
      "label": "Título"
    },
    {
      "type": "richtext",
      "id": "newsletter_subheading",
      "default": "<p>Get all releases with unique perks</p>",
      "label": "Subtítulo"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "default": "Enter your best email",
      "label": "Placeholder"
    },
    {
      "type": "text",
      "id": "newsletter_button",
      "default": "Subscribe now!",
      "label": "Texto do botão"
    },
    {
      "type": "header",
      "content": "BORDAS"
    },
    {
      "type": "checkbox",
      "id": "horizontal_border",
      "label": "Bordas horizontais",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "vertical_border",
      "label": "Bordas verticais",
      "default": false
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Cor da borda"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Opacidade da borda",
      "default": 0
    },
    {
      "type": "header",
      "content": "ESPAÇAMENTO"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 140,
      "step": 4,
      "unit": "px",
      "label": "Margem superior",
      "default": 0
    },
    {
      "type": "header",
      "content": "PREENCHIMENTO DA SEÇÃO"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 140,
      "step": 4,
      "unit": "px",
      "label": "Preenchimento superior",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Preenchimento inferior",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
