<style>
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    .tabs {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      justify-content: center;
    }
    .tabs__label {
      padding: 10px;
      cursor: pointer;
      color: rgba(var(--color-foreground));
      border: 1px solid #DEE2E6;
      border-radius: 6px;
      font-weight: 400;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 230px;
      max-width: calc(50% - 5px);
      gap: 8px;
    }
    .tabs__radio {
        display: none;
    }
    .tabs__radio:checked + .tabs__label {
      font-weight: 600;
      border: 1px solid rgba(var(--color-button));
      background-color: #FFE6DF;
    }
    .tabs__radio:checked + .tabs__label svg {
        color: rgba(var(--color-button));
    }
    .tabs__label svg {
      width: 24px;
      height: auto;
    }
    .tabs__content {
      width: 100%;
      overflow-x: scroll;
    }
    .tabs__content__cards {
      display: flex;
      width: max-content;
      flex-wrap: nowrap;
      column-gap: 3rem;
      padding: 4.2rem 1.5rem 3rem;
    }
    .tabs__content::-webkit-scrollbar {
        height: 8px;
        border-radius: 1rem;
        background-color: rgb(231, 231, 231);
    }
    .tabs__content::-webkit-scrollbar-track {
        background-color: #8c352812;
    }
    .tabs__content::-webkit-scrollbar-thumb {
        background-color: #8C3628;
    }
    .tabs__content__card {
      display: flex;
      width: 100%;
      flex-direction: column;
      border-radius: 12px;
      border: 1px solid #F1F3F5;
      width: calc(300px - 3/4*30px);
    }
    .tabs__content__card img {
      width: 100%;
    }
    .tabs__content__card-text {
        width: 100%;
        padding: 16px 24px 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        .tabs__content__cards {
          padding: 4.2rem 0 3rem;
        }
        .tabs__label {
          padding: 16px;
          gap: 16px;
          max-width: calc(50% - 9px);
        }
        .tabs__label svg {
          width: 32px;
        }
    }
    @media screen and (max-width: {{ settings.page_width }}px) {
        .tabs__content__card {
            width: 274px;
        }
    }
  </style>

  {% javascript %}

    function clickLabel(label) {
        const alltabs = document.querySelectorAll('.tabs__content__card');
        const showtab = label.getAttribute("for");
        const tabs = document.querySelectorAll(`.${showtab}`);
        
        alltabs.forEach((taball) => {
            taball.style.display = "none";
        });

        tabs.forEach((tab) => {
            tab.style.display = "flex";
        })
    };

    window.onload = () => {
        const labelArr = Array.from(document.querySelectorAll(".tabs__label"));   

        labelArr.forEach((label) => {    
            label.addEventListener("click", () => clickLabel(label));
        });

        const selectedInput = document.querySelector('input[type="radio"][name="tabs-preparo"]:checked');
        const selectedLabel = document.querySelector(`label[for="${selectedInput.id}"]`);
        clickLabel(selectedLabel);

    };

  {% endjavascript %}

  <div class="color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="prepare{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="page-width">
      {%- unless section.settings.title == blank -%}
        <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
          <div class="title">
            {{ section.settings.title }}
          </div>
          {%- if section.settings.button_label != blank and show_mobile_slider -%}
            <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
              {{- section.settings.button_label | escape -}}
            </a>
          {%- endif -%}
        </div>
      {%- endunless -%}

      <div class="tabs">
        <input
          type="radio"
          class="tabs__radio"
          name="tabs-preparo"
          id="tab1"
          value="tab1"
          checked>
        <label for="tab1" class="tabs__label">
          {% render 'icon-accordion', icon: section.settings.icon_1 %}
          <span>{{ section.settings.tab1 }}</span>
        </label>
        <input
          type="radio"
          class="tabs__radio"
          name="tabs-preparo"
          id="tab2"
          value="tab2">
        <label for="tab2" class="tabs__label">
          {% render 'icon-accordion', icon: section.settings.icon_2 %}
          <span>{{ section.settings.tab2 }}</span>
        </label>
      </div>
    </div>
    <div class="page-width-desktop page-width-tablet">
      <div class="tabs__content">
        <div class="tabs__content__cards">
          {% for block in section.blocks %}
            <div class="tabs__content__card tab{{ block.settings.aba }}" {{ block.shopify_attributes }}>
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | image_url }}" class="tabs__image"/>
              {% endif %}
              <div class="tabs__content__card-text">
                {{ block.settings.title }}
                {{ block.settings.text }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
  
  {% schema %}
{
  "name": "Modo De Preparo - V2",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<h2>Modo de preparo</h2>",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "icon_1",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
        },
        {
          "value": "apple",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
        },
        {
          "value": "banana",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
        },
        {
          "value": "bottle",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
        },
        {
          "value": "box",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
        },
        {
          "value": "carrot",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
        },
        {
          "value": "chat_bubble",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
        },
        {
          "value": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
        },
        {
          "value": "clipboard",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
        },
        {
          "value": "dairy",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
        },
        {
          "value": "dairy_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
        },
        {
          "value": "dryer",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
        },
        {
          "value": "eye",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
        },
        {
          "value": "fire",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
        },
        {
          "value": "gluten_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
        },
        {
          "value": "heart",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
        },
        {
          "value": "iron",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
        },
        {
          "value": "leaf",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
        },
        {
          "value": "leather",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
        },
        {
          "value": "lightning_bolt",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
        },
        {
          "value": "lipstick",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
        },
        {
          "value": "lock",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
        },
        {
          "value": "map_pin",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
        },
        {
          "value": "nut_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
        },
        {
          "value": "pants",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
        },
        {
          "value": "paw_print",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
        },
        {
          "value": "pepper",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
        },
        {
          "value": "perfume",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
        },
        {
          "value": "plane",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
        },
        {
          "value": "plant",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
        },
        {
          "value": "price_tag",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
        },
        {
          "value": "question_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
        },
        {
          "value": "recycle",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
        },
        {
          "value": "return",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
        },
        {
          "value": "ruler",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
        },
        {
          "value": "serving_dish",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
        },
        {
          "value": "shirt",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
        },
        {
          "value": "shoe",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
        },
        {
          "value": "silhouette",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
        },
        {
          "value": "snowflake",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
        },
        {
          "value": "star",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
        },
        {
          "value": "stopwatch",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
        },
        {
          "value": "truck",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
        },
        {
          "value": "washing",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
        },
        {
          "value": "microwave",
          "label": "Micro-ondas"
        },
        {
          "value": "pan",
          "label": "Frigideira"
        }
      ],
      "default": "microwave",
      "label": "Ícone da primeira aba"
    },
    {
      "type": "select",
      "id": "icon_2",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
        },
        {
          "value": "apple",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
        },
        {
          "value": "banana",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
        },
        {
          "value": "bottle",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
        },
        {
          "value": "box",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
        },
        {
          "value": "carrot",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
        },
        {
          "value": "chat_bubble",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
        },
        {
          "value": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
        },
        {
          "value": "clipboard",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
        },
        {
          "value": "dairy",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
        },
        {
          "value": "dairy_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
        },
        {
          "value": "dryer",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
        },
        {
          "value": "eye",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
        },
        {
          "value": "fire",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
        },
        {
          "value": "gluten_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
        },
        {
          "value": "heart",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
        },
        {
          "value": "iron",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
        },
        {
          "value": "leaf",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
        },
        {
          "value": "leather",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
        },
        {
          "value": "lightning_bolt",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
        },
        {
          "value": "lipstick",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
        },
        {
          "value": "lock",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
        },
        {
          "value": "map_pin",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
        },
        {
          "value": "nut_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
        },
        {
          "value": "pants",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
        },
        {
          "value": "paw_print",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
        },
        {
          "value": "pepper",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
        },
        {
          "value": "perfume",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
        },
        {
          "value": "plane",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
        },
        {
          "value": "plant",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
        },
        {
          "value": "price_tag",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
        },
        {
          "value": "question_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
        },
        {
          "value": "recycle",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
        },
        {
          "value": "return",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
        },
        {
          "value": "ruler",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
        },
        {
          "value": "serving_dish",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
        },
        {
          "value": "shirt",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
        },
        {
          "value": "shoe",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
        },
        {
          "value": "silhouette",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
        },
        {
          "value": "snowflake",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
        },
        {
          "value": "star",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
        },
        {
          "value": "stopwatch",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
        },
        {
          "value": "truck",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
        },
        {
          "value": "washing",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
        },
        {
          "value": "microwave",
          "label": "Micro-ondas"
        },
        {
          "value": "pan",
          "label": "Frigideira"
        }
      ],
      "default": "pan",
      "label": "Ícone da segunda aba"
    },
    {
      "type": "text",
      "id": "tab1",
      "label": "Título da primeira aba",
      "default": "Micro-ondas"
    },
    {
      "type": "text",
      "id": "tab2",
      "label": "Título da segunda aba",
      "default": "Frigideira"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "aba",
      "name": "Card aba",
      "settings": [
        {
          "type": "select",
          "id": "aba",
          "options": [
            {
              "value": "1",
              "label": "Aba 1"
            },
            {
              "value": "2",
              "label": "Aba 2"
            }
          ],
          "label": "Conteúdo pertence a qual aba?",
          "default": "1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Escolha a imagem"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Título",
          "default": "<h4>Título aqui</h4>"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Texto",
          "default": "<p>Conteúdo aqui</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Modo de Preparo - V2",
      "category": "text"
    }
  ]
}
{% endschema %}